*{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 100px;
    width: 55px;
    height: 55px;
    border: 5px solid blue;
    animation-name: Tx;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-direction:alternate;

}
.box:hover{
   animation-name: Tx;
   animation-iteration-count: 1;
}

@keyframes Tx {
    0%{ transform:scale(0);}
    100%{transform: scale(5);}
    
}
@keyframes Typing {
    0%{
        width: 0px;
        color: red;
    }
    100%{
        width: 100%;
        color: green;
    }
    
}
h2{
    display: inline-block;
    margin-top: 50px;
    letter-spacing: 5px;
    animation-name: Typing;
    animation-duration: 3s;
    animation-timing-function: steps(6);
}
